.project-card {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  padding: 1rem;
  transition: all 0.1s ease-in-out;
}

.project-card h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.project-card h1 {
  font-size: 1.5rem;
}

.project-card h2 {
  font-size: 1rem;
}

.project-card p {
  margin: 0 1rem 1rem 0;
}

.project-card-content {
  display: grid;
  margin: 1rem 0 0 0;
}

.project-card-description {
  font-size: 0.9rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

@media all and (max-width: 800px) {
  .project-card-content {
    grid-template-columns: 100%;
  }
}

@media all and (min-width: 801px) and (max-width: 968px) {
  .project-card-content {
    grid-template-columns: 40% 30% 30%;
  }

  .project-card-description {
    grid-row-start: span 3;
  }
}

@media all and (min-width: 969px) {
  .project-card-content {
    grid-template-columns: 34% 22% 22% 22%;
  }

  .project-card-description {
    grid-row-start: span 2;
  }
}
