.content {
  margin: auto;
  max-width: 100vw;
}

@media all and (min-width: 420px) and (max-width: 968px) {
  .content {
    max-width: 90vw;
  }
}

@media all and (min-width: 969px) {
  .content {
    max-width: 80vw;
  }
}
