@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: theme("fontFamily.sans");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: theme("fontFamily.mono");
}
