name: Khronos glTF Project Explorer CI Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    env:
      NODE_ENV: ci
    concurrency:
      group: ${{github.workflow}}-${{github.ref}}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'yarn'
      - name: Install Packages
        run: yarn
      - name: Build & Deploy
        run: yarn deploy
    